:root {
  /* Primary */
  --color-primary: 57 68 156;
  --color-primary-foreground: 255 255 255;
  --color-primary-50: 242 245 252;
  --color-primary-100: 225 232 248;
  --color-primary-200: 202 215 243;
  --color-primary-300: 165 189 235;
  --color-primary-400: 122 155 224;
  --color-primary-500: 91 123 214;
  --color-primary-600: 71 96 201;
  --color-primary-700: 61 78 184;
  --color-primary-800: 57 68 156;
  --color-primary-900: 49 58 119;
  --color-primary-950: 33 38 74;
  /* Secondary */
  --color-secondary: 153 131 189;
  --color-secondary-foreground: 255 255 255;
  --color-secondary-50: 248 247 251;
  --color-secondary-100: 242 240 247;
  --color-secondary-200: 231 227 241;
  --color-secondary-300: 212 205 229;
  --color-secondary-400: 153 131 189;
  --color-secondary-500: 163 143 195;
  --color-secondary-600: 144 117 178;
  --color-secondary-700: 127 98 159;
  --color-secondary-800: 106 82 133;
  --color-secondary-900: 88 69 109;
  --color-secondary-950: 56 44 73;
  /* Tertiary */
  --color-tertiary: 207 147 193;
  --color-tertiary-foreground: 15 15 16;
  --color-tertiary-50: 250 245 249;
  --color-tertiary-100: 246 237 244;
  --color-tertiary-200: 239 219 235;
  --color-tertiary-300: 227 190 219;
  --color-tertiary-400: 207 147 193;
  --color-tertiary-500: 191 117 172;
  --color-tertiary-600: 169 89 144;
  --color-tertiary-700: 144 70 119;
  --color-tertiary-800: 120 60 99;
  --color-tertiary-900: 102 53 85;
  --color-tertiary-950: 60 27 48;
  /* Accent */
  --color-accent: 243 118 91;
  --color-accent-foreground: 15 15 16;
  --color-accent-50: 254 244 242;
  --color-accent-100: 253 ,232, 227;
  --color-accent-200: 253 212 203;
  --color-accent-300: 250 182 167;
  --color-accent-400: 243 118 91;
  --color-accent-500: 235 101 72;
  --color-accent-600: 216 73 42;
  --color-accent-700: 216 73 42;
  --color-accent-800: 150 51 30;
  --color-accent-900: 125 48 31;
  --color-accent-950: 68 21 11;
  /* Neutral Cool */
  --color-neutral-cool: 123 121 127;
  --color-neutral-cool-foreground: 255 255 255;
  --color-neutral-cool-50: 237 237 237;
  --color-neutral-cool-100: 229 228 229;
  --color-neutral-cool-200: 217 217 217;
  --color-neutral-cool-300: 202 201 204;
  --color-neutral-cool-400: 163 161 165;
  --color-neutral-cool-500: 123 121 127;
  --color-neutral-cool-600: 111 109 114;
  --color-neutral-cool-700: 92 91 95;
  --color-neutral-cool-800: 74 73 76;
  --color-neutral-cool-900: 60 59 62;
  --color-neutral-cool-950: 38 37 39;
/* Individual Color Variables */
  --color-page-foreground: 15 15 16;
  --color-page-hint: 163 161 165;
  --color-surface-foreground: 15 15 16;
  --color-surface-hint: 163 161 165;
  --color-raised-foreground: 15 15 16;
  --color-raised-hint: 123 121 127;
  --color-btn-primary-foreground: 255 255 255;
  --color-btn-primary-hover: 22 19 20, .6;
  --color-btn-primary-ghost-foreground: 15 15 16;
  --color-btn-primary-ghost-hover: 22 19 20, .05;
  --color-btn-secondary-foreground: 255 255 255;
  --color-btn-secondary-hover: 57 68 156, 0.6;
  --color-btn-secondary-ghost-foreground: 57 68 156;
  --color-btn-secondary-ghost-hover: 57 68 156, .05;
  --color-chip-primary-foreground: 22 19 20;
  --color-chip-primary-hover: 217 217 217, .6;
/* Border Color Variables */
  --border-btn-primary-ghost: 22 19 20;
  --border-btn-secondary-ghost: 57 68 156;
  --border-checkbox: 163 161 165;
  --border-chip: 111 109 114;
  --border-raised: 202 201 204;
  --border-surface: 217 217 217;
/* Border Radius Variables */
  --rounded-btn: 9999px;
  --rounded-color: 9999px;
  --rounded-input: 9999px;
/* Border Width Variables */
  --border-btn: 2px;
  --border-input: 2px;
/* Shadow Variables */
  --shadow-area: 0 2px 4px 0 22 19 20 / 0.1;;
  --shadow-el: 0 1px 2px 0 22 19 20 / 0.1;;
/* Font Size Variables */
  --font-size-btn-lg: 1.125rem;
  --font-size-btn-sm: 1rem;
  --font-size-btn: 1rem;
  --font-size-input: 1rem;
/* Height Variables */
  --height-btn-icon: 2.25rem;
  --height-btn-lg: 3.375rem;
  --height-btn-sm: 2.125rem;
  --height-btn: 2.625rem;
  --height-input: 3rem;
  --height-chip: 1.75rem;
  --height-checkbox: 2.5rem;
  --height-tab: 3rem;
/* Width Variables */
  --width-btn-icon: 2.25rem;
  --width-chip-icon: 1rem;
  --width-input-icon: 1rem;
  --width-checkbox: 2.5rem;
/* Padding Variables */
  --padding-btn-lg: .5rem 1.5rem;
  --padding-btn-sm: .5rem 1rem;
  --padding-btn: .5rem 1.25rem;
  --padding-chip: .5rem .625rem;
  --padding-input: .5rem 1.375rem;
  --padding-tab: .5rem 1.375rem;
/* Spacing Variables */
  --spacing-btn: .5rem;
  --spacing-chip: 0rem;
  --spacing-input: .875rem;
  --font-sans: Inter,ui-sans-serif,system-ui,-apple-system,system-ui,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
  --font-body: Inter,ui-sans-serif,system-ui,-apple-system,system-ui,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
  --font-mono: var(--font-roboto-mono),ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,monospace;
}